.donetaion_info p::before {
  position: absolute;
  left: -27px;
  top: -46px;
  content: ",,";
  font-family: Flaticon;
  font-size: 53px;
  letter-spacing: -2.3px;
  color: #112958;
  transform: rotateY(180deg);
}
.donetaion_info p::after {
  position: absolute;
  right: 205px;
  top: 36px;
  content: ",,";
  font-family: Flaticon;
  font-size: 53px;
  letter-spacing: -2.3px;
  color: #112958;
}

@media only screen and (max-width: 1400px) {
  .testmonial_donor {
    width: 38rem;
  }
  .single_donar {
    width: 67rem;
  }
  .donetaion_info p::after {
    position: absolute;
    right: 21px;
    top: 36px;
  }
}
@media only screen and (max-width: 1199px) {
  .testmonial_donor {
    width: 30rem;
  }
  .single_donar {
    width: 56rem;
  }
  .donetaion_info p {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .single_donar img {
    margin-right: 5rem;
  }
  .donetaion_info p::after {
    position: absolute;
    right: 144px;
    top: 36px;
  }
}
@media only screen and (max-width: 991px) {
  .testmonial_donor {
    max-width: 44rem;
    margin-bottom: 4rem;
  }
  .single_donar {
    width: 100%;
  }
  .donetaion_info p {
    font-size: 2.2rem;
    font-weight: 600;
  }
  .single_donar img {
    margin-right: 5rem;
  }
  .donetaion_info p::after {
    position: absolute;
    right: 54px;
    top: 36px;
  }
}
@media only screen and (max-width: 767px) {
  .testmonial_donor {
    width: 100%;
    margin-bottom: 4rem;
  }
  .donetaion_info p {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .single_donar img {
    width: 190px;
    object-fit: cover;
  }
  .donetaion_info p::after {
    position: absolute;
    right: 154px;
    top: 58px;
  }
}
@media only screen and (max-width: 500px) {
  .testmonial_donor {
    width: 100%;
    margin-bottom: 4rem;
  }
  .donetaion_info p {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding-right: 0;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }
  .donetaion_info p::before,
  .donetaion_info p::after {
    display: none;
  }
  .single_donar {
    flex-wrap: wrap;
    justify-content: center;
  }
  .single_donar img {
    max-width: 190px;
    margin-right: 0rem;
    object-fit: cover;
  }
  .category_info h2 {
    font-size: 2rem;
  }
  .single_category_info {
    margin-bottom: 2rem;
    padding: 2rem 0;
  }
}
